args==0.1.0
certifi==2018.11.29
chardet==3.0.4
ChatterBot==1.0.1
chatterbot-corpus==1.2.0
idna==2.8
isodate==0.6.0
mathparse==0.1.2
nltk==3.4
parse==1.11.1
Pint==0.9
pymongo==3.7.2
pyparsing==2.3.1
Pypubsub==4.0.3
python-dateutil==2.7.5
pytz==2018.9
PyYAML==4.2b4
rdflib==4.2.2
requests==2.21.0
singledispatch==3.4.0.3
six==1.12.0
SQLAlchemy==1.2.17
tqdm==4.30.0
urllib3==1.26.5
wcwidth==0.1.7
